**Variables**

- Variables are used to store the value
- variables can change their values
- Varyyyy: Varying

In [40]:
number=100
number

# 100 is storing in a variable called 'number'

100

In [5]:
number=200
number

200

Gaurav is learning python code mode is used to write the code markdown mode is used
to write the story

Square brackets are there before cell: code mode esc+m

In [9]:
raviteja=500
# 500 is a values stored in a variable raviteja

In [11]:
raviteja=50000
raviteja

50000

In [13]:
raviteja=5000000
raviteja

5000000

In [15]:
raviteja1=25000
raviteja1
# type ra
# enter tab 
# you can see the names which are starting with 'ra'

25000

In [17]:
lakshmi=100

In [19]:
NUMBER=200
NUMBER

200

In [21]:
NUMber=300
NUMber

300

In [23]:
number123=400
number123

400

In [25]:
123number=500
123
# Variables does note have number as prefix
# Variables should not start with numbers

SyntaxError: invalid decimal literal (1998651315.py, line 1)

In [27]:
Number*one=500
Number*one

# Variables does not have sol characters

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (450282689.py, line 1)

In [31]:
number_one=600
number_one

# variables can have underscores

600

In [33]:
_=900
_

# Only underscore can represent as variables

900

- Variables are case sensitive
- Variables can represent as Capital letters
- Variables can represent as Small letters
- Variables can have both comninations
- Python will conside latest value
- Variables does not start with numbers
- Variables can have number at last
- Variables does not coontain any spl character, except Underscore
- Variables does not contain ant space between the letters: number one
- Only underscore can use as variables
- Keyword or reserved wrods will not use as Variables: if, else

In [38]:
number_123_two=900
number_123_two

900