**Data type**
- In python we have many data type are there
    - Integer
    - float
    - string
    - bollean

**Integer**
- IN python no need to mention a data type like c
- It will consider the data type automatically

In [6]:
number=100
# In order to check the type of a variable we will use 
# In built function called as type

In [8]:
type(number)

int

In [10]:
type(100)

int

- in Maths we have different types of represntation available
- The following Number system are:
    - Binary
    - Octa
    - Decimal
    - Hexa

**Binary**
- Binary has bi which indicates two
- We have total 0 to 9 digits to represnt any number
- From there we will take only first two digits i.e. 0 and 1
- Example: 0b101,0B0001
- Wrong representation is: 0b002, 1b001

In [21]:
num=0b001
num

1

In [23]:
0b1111

15

In [ ]:
4  2  1  Num
0  0  0   0
0  0  1   1
0  1  0   2
0  1  1   3
1  0  0   4
1  0  1   5
1  1  0   6   # 0b110=6
1  1  1   7   # 0b111=7

**Octa**
- Octa means 8
- We have total 0 to 9 digits to represnt any number:0,1,2,3,4,5,6,7,8,9
- From there we will take only starting 8 digits i.e.0 to 7
- Example: 0o123
- Wrong representation is: 0o786 because 7,6 but 8

In [41]:
0o786

SyntaxError: invalid digit '8' in octal literal (3171049937.py, line 1)

- A good develope will understand the error easily
- Almost we will get 20 types
- We will foocus both on output as well as errors

In [17]:
0o123

83

In [19]:
0O456

302

**Hexa**
- Hexa means 16
- We have total 0 to 9 digits to represent any number:0,1,2,3,4,5,6,7,8,9
- After 9 we will use A to F A:10, B:11, C:12, D:13, E:14, F:15
- Example: 0x123,0XABC, 0x9ad
- Wrong representation is:0xFGH

In [22]:
0xabc

2748

In [24]:
0xab9

2745

In [26]:
0Xb52

2898

**Float**

In [29]:
num=10.5
type(num)

float

In [31]:
type(10),type(10.5)

(int, float)

In [33]:
10e1 # 10* <10>    = 100
10e2 # 10* <100>   = 1000
10e3 # 10* <1000>  = 10000
10e4 # 10* <10000> = 1000000

100000.0

In [35]:
10
20
# In juputer note book by default last value will print

20

In [37]:
# If you want to see all the answers apply print
print(10)
print(20)

10
20

In [39]:
10,20

(10, 20)

In [41]:
print(10e1)
print(10e2)
print(10e3)
print(10e4)

100.0
1000.0
10000.0
100000.0

In [43]:
10e+1,10e+2,10e+3

(100.0, 1000.0, 10000.0)

In [45]:
10E2 # Dont afraid to explore

1000.0

In [ ]:
10e-1 # 10/<10>   = 1
10e-2 # 10/<100>  = 0.1
10e-3 # 10/<1000> = 0.01

In [49]:
print(10e-1)
print(10e-2)
print(10e-3)

1.0
0.1
0.01

- In the Machine learing we often see the values in exponential format
- In some case we need to search for zero value
- In ML with Python we rsrely see exatct an asnwer 0.0
- Instead of 0.0 it will disply as 1.2345e-17

In [52]:
7.74619736e-4

0.000774619736

In [ ]:
1.2345e-17
1.2345/10000000000000000000=0.0000000000000000012345

**String**

- strings represent english charcters generally
- strings will respresnt with quots
    - Single quotes
    - Double quotes
    - Triple quotes

In [66]:
str1='python' # single quotes
str1

'python'

In [73]:
str2="python" # Double quotes
str2

'python'

- we can represent in any way but python will give in single quoutes

In [75]:
print(str1)
print(str2)

python
python

- When we apply print on string, It will display with out quotes

In [80]:
str3='abc123'
type(str3)

str

In [82]:
type('10'),type('10.5'),type('123'),type('apple')

(str, str, str, str)

- any data type or any value is provided by quotes means
- It become a string only
- Strings always in black color
- variables always in black color
- keywords or number always in Green color

In [ ]:
vicky='vicky'
# 'vicky' is a english letters stored in a variable name called vicky

In [85]:
str1="I like 'python'"
print(str1)

I like 'python'

In [87]:
str1='I like "python"'
print(str1)

I like "python"

- If you want to highlite any word 
- Represent entire string in single quotes, highlited word in double quotes vice versa

In [ ]:
hai
how are you

In [95]:
str1='hai
    how are you
    im good'

SyntaxError: unterminated string literal (detected at line 1) (3411619208.py, line 1)

In [97]:
str1="hai
    how are you
    im good"

SyntaxError: unterminated string literal (detected at line 1) (3167671635.py, line 1)

In [99]:
str1="""hai
    how are you
    im good"""
str1

'hai\n    how are you\n    im good'

In [101]:
print(str1)

hai
    how are you
    im good

- Triple quoutes is used for write a multiline comments
- This is called as **Docstring**
- In order to write a story in jupyter notebook we have a markdown
- But other platforms like VScode, Pycharm we dont have a markdown
- Then how can we write a story: By using Triple quoutes
- If any person writing some thing using triple quotes, which indicates
  the user is trying to convey the information
- This is process called as Docsting

**Boolean**

- Computer takes the values in Binary Format (1,0)
- Computer Gives the answer in Boolean format
    - True
    - False
- True Indicates 1
- False Indicates 0

In [108]:
val=True
type(val)

bool

In [110]:
val1=False
type(val1)

bool

In [ ]:
Sir Boolean is case sensitive or not

True
TRUE
true

In [112]:
true='True'
TRUE=True

true,TRUE # two are variables

('True', True)

In [114]:
type(true), type(TRUE)

(str, bool)

In [ ]:
a=10
b=10.5
c='10'
d=True